// list of ignored files/directories copied from CPEN 311
transcript
c5_pin_model_dump.txt
*.mti
*.mpf
*.wlf
*.qdb
*.qpg
*.qtl
*.qsf
*.bak
*.qws
*.awf
*.o
work/
db/
incremental_db/
simulation/
output_files/

// for the mainframe folder, ignores all except .h, .c, .vhd, .v, .sv files
mainframe/*
!mainframe/*.h
!mainframe/*.c
!mainframe/*.vhd
!mainframe/*.v
!mainframe/*.sv