// list of ignored files/directories copied from CPEN 311
transcript
c5_pin_model_dump.txt
*.mti
*.mpf
*.wlf
*.qdb
*.qpg
*.qtl
*.qsf
*.bak
*.qws
*.awf
*.o
work/
db/
incremental_db/
simulation/
output_files/

// Monitor Program project files
*.axf
*.axf.objdump
*.srec
*.amp

// for the mainframe folder, ignores all except C and some HDL files
mainframe/*.*
mainframe/software/*.*
mainframe/software/Debug
mainframe/software/spl_bsp/
!mainframe/software/*.h
!mainframe/software/*.c
mainframe/CPEN391_Computer/
mainframe/UART_16550_Files/
mainframe/VGA_CLOCK_GEN/
mainframe/VGA_CLOCK_GEN_sim/
mainframe/greybox_tmp/
mainframe/hps_isw_handoff/
mainframe/makefile
mainframe/wlft33213e

// for DE1_Pi_comm_test, ignore all except .c and .py files
DE1_Pi_comm_test/*
!DE1_Pi_comm_test/*.c
!DE1_Pi_comm_test/*.py

// Python interpreter files
*.pyc

// training data set, trained models
motor_and_img_rcog/pm_templates/
motor_and_img_rcog/pm_templates_old/
motor_and_img_rcog/training_model/
motor_and_img_rcog/test/
motor_and_img_rcog/training_set/
motor_and_img_rcog/*.jpg
motor_and_img_rcog/*.jpeg
motor_and_img_rcog/CNNPOKER2.model
motor_and_img_rcog/image_classifier

// test files
tests/*
!tests/*.h
!tests/*.c
